@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
body {
  font-family: 'Lato', sans-serif;
}
/* card style and animation */
.flip-card {
  background-color: transparent;
  width: 50%;
  height: 254px;
  perspective: 1000px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0 0 10px 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  background: rgb(30, 31, 38);
  color: rgb(255, 255, 255);
}

.flip-card-back {
  background: rgb(30, 31, 38);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
}
/* input style  */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  margin: 0 10px;
 }
 
 .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  border: 2px solid transparent;
  border-radius: 10px 10px 0 0;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
  text-align: center;
  font-size: 1.25em;
 }
 
 .input::placeholder {
  color: #9e9ea7;
  font-size: 1.25em;
  text-align: center;
 }
 
 .input:focus, input:hover {
  outline: none;
  background-color: rgb(37, 40, 48);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
  text-align: center;
}
.input:focus {
  background-color: rgb(37, 40, 48);
  transition: .3s ease all;
  color: #ffffff;
}

 /* button style */
 button {
  font-size: 1em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 3px solid transparent;
  border-radius: 0 0 10px 10px;
  position: relative;
  color: rgb(37, 40, 48);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  background-color: #f3f3f4;
  margin: 0 10px;
  padding: 10px 0;
}

button:hover, button:focus {
  color: white;
  background-color: rgb(37, 40, 48);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}

.welcome-text {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  margin: 0 0 10px 0;
}
body {
  background-color: rgb(19, 20, 23);
  margin: 0;
  overflow-x: hidden;
}